<mat-toolbar color="primary">
  <button mat-button (click)="redirect('home')">
    {{ "header.homeButtonLabel" | translate }}
  </button>
  <button mat-button (click)="redirect('browse')">
    {{ "header.browseButtonLabel" | translate }}
  </button>
  <button mat-button (click)="redirect('profile')">
    {{ "header.profileButtonLabel" | translate }}
  </button>

  <div class="spacer"></div>

  <button mat-raised-button (click)="logout()">
    {{ "header.logoutButtonLabel" | translate }}
  </button>
</mat-toolbar>
