<div id="wholePage">
  <app-header></app-header>

  <div id="restOfPage">
    <div class="search">
      <input
        [formControl]="form.controls.search"
        type="text"
        placeholder="{{ 'baseSite.searchPlaceholder' | translate }}"
      />
    </div>

    <div id="cardPart">
      @if (cheatsheets.length) {
        <div id="allCards">
          @for (sheet of cheatsheets; track $index) {
            <div class="card" (click)="redirectToCheatsheet(sheet['id'])">
              @if (showImages) {
                <img
                  [src]="sheet['thumbnailUrl']"
                  [alt]="sheet['description']"
                  loading="lazy"
                />
              }

              <h2>{{ sheet["title"] }}</h2>
              <p>{{ sheet["description"] }}</p>

              <div class="row">
                <mat-icon>calendar_today</mat-icon>
                <div class="spacer"></div>
                <p>{{ sheet["created"] | date: "dd.MM.yyyy" }}</p>
              </div>

              <p class="stars">⭐ {{ sheet["stars"] }}</p>
            </div>
          }
        </div>
      } @else {
        <div class="no-sheets-message">
          <h2>{{ "baseSite.noSheetsFound" | translate }}</h2>
        </div>
      }
    </div>
  </div>
</div>
