<app-header></app-header>
<div>
  @if (!cheatsheets.length) {
    <h1>{{ "browse.noCheatsheets" | translate }}</h1>
  }

  <div class="search">
    <input
      [formControl]="form.controls.search"
      type="text"
      placeholder="{{ 'baseSite.searchPlaceholder' | translate }}"
    />
  </div>
  @for (cheatsheet of cheatsheets; track cheatsheet.id) {
    <mat-card class="cheatsheet-card">
      <div class="card-content">
        <img
          src="{{ cheatsheet['thumbnailUrl'] }}"
          alt="image error"
          class="preview-image"
        />
        <div class="details">
          <h2>{{ cheatsheet["title"] }}</h2>
          <p>
            {{ cheatsheet["description"] }}
          </p>
          <div class="meta">
            <mat-icon>person</mat-icon>
            <!--            TODO: username display-->
            <span>{{ "user" }}</span>
            <mat-icon>calendar_today</mat-icon>
            <span>{{ cheatsheet["createdAt"] | date: "dd.MM.yyyy" }}</span>
          </div>
        </div>
      </div>
    </mat-card>
  }
</div>
