.cheatsheet-card {
  max-width: 700px;
  background-color: cornsilk;
  color: black;
  padding: 16px;

  .card-content {
    display: flex;
    gap: 16px;

    .preview-image {
      width: 240px;
      height: auto;
      border: 1px solid #ccc;
      background: white;
    }

    .details {
      flex: 1;

      .meta {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 1em;
        margin-top: 8px;

        mat-icon {
          font-size: 20px;
        }
      }
    }
  }
}
