<app-header></app-header>
<div class="profile-wrapper">
  <div class="profile-card">
    <img [src]="user['avatarUrl']" alt="no image" class="avatar" />

    <h2>{{ user["name"] }}</h2>
    <p>{{ user["email"] }}</p>

    <div class="stats">
      <div>
        <div>{{ user["credits"] }}</div>
        <div>{{ "profile.creditsLabel" | translate }}</div>
      </div>
      <div>
        <div>{{ "profile.createLabel" | translate }}</div>
        <div>{{ user["created"] | date }}</div>
      </div>
    </div>
  </div>
</div>
