<form [formGroup]="form">
  @if (dialogMode === "login") {
    <div>
      <mat-form-field>
        <mat-label>{{ "login.form.email" | translate }}</mat-label>
        <input matInput [formControl]="this.form.controls.email" />
        @if (this.form.controls.confirmPassword.invalid && this.touched()) {
          <mat-error>{{ "login.form.emailRequired" | translate }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>{{ "login.form.password" | translate }}</mat-label>
        <input
          matInput
          [formControl]="this.form.controls.password"
          type="password"
        />
        @if (this.form.controls.confirmPassword.invalid && this.touched()) {
          <mat-error>{{ "login.form.passwordRequired" | translate }}</mat-error>
        }
      </mat-form-field>
    </div>
  } @else {
    <div>
      <mat-form-field>
        <mat-label>{{ "login.form.name" | translate }}</mat-label>
        <input matInput [formControl]="this.form.controls.name" />
        @if (this.form.controls.confirmPassword.invalid && this.touched()) {
          <mat-error>{{ "login.form.nameRequired" | translate }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>{{ "login.form.email" | translate }}</mat-label>
        <input matInput [formControl]="this.form.controls.email" />
        @if (this.form.controls.confirmPassword.invalid && this.touched()) {
          <mat-error>{{ "login.form.emailRequired" | translate }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>{{ "login.form.password" | translate }}</mat-label>
        <input
          matInput
          [formControl]="this.form.controls.password"
          type="password"
        />
        @if (this.form.controls.confirmPassword.invalid && this.touched()) {
          <mat-error>{{ "login.form.passwordRequired" | translate }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>{{ "login.form.confirmPassword" | translate }}</mat-label>
        <input
          [formControl]="this.form.controls.confirmPassword"
          type="password"
          matInput
        />
        @if (this.form.controls.confirmPassword.invalid && this.touched()) {
          <mat-error>{{
            "login.form.confirmPasswordRequired" | translate
          }}</mat-error>
        }
      </mat-form-field>
    </div>
  }
  <button mat-raised-button (click)="submit()">
    {{ submitTranslation() | translate }}
  </button>
  <button mat-raised-button (click)="toggleMode()">
    {{ createAccountTranslation() | translate }}
  </button>
</form>
