@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
p,
h5,
h6 {
  margin: 0;
  padding: 0;
}

//Variables:
$primary_blue: #3078f2;
$primary_white: #ffffff;
