@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;

  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
p,
h5,
h6 {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

//Variables:

//colors
$primary_blue: #3078f2;
$primary_white: #ffffff;
$primary_background: #fafafa;
$primary_red: #dc3545;

//pixel
$border_radius_big: 12px;
$border_radius_medium: 8px;
